@use "../utils/colours" as *;
@use "../utils/mixins" as *;

.card {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 21rem;
  background-color: $white;
  border-radius: 1rem;
  box-shadow: 0px 40px 40 -10 $grayish-blue;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__heading {
    margin-block: 0.75rem;
    padding-inline: 2rem;
  }

  &__blurb {
    padding-inline: 2rem;
    padding-block-end: 1rem;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__avatar {
    border-radius: 50%;
    max-width: 2.5rem;
    object-fit: contain;
  }

  &__arrow-share {
    color: $dark-grayish-blue;
    background-color: $light-grayish-blue;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    padding-block: 0.5rem 1rem;
    position: relative;
    overflow: hidden;
  }

  &__image {
    border-radius: 1rem 1rem 0 0;
  }

  @include respond-to("large") {
    grid-template-columns: 1fr 1.8fr;
    max-width: 46rem;

    &__image {
      grid-column: 1 / 1;
      object-fit: cover;
      height: 100%;
      object-position: top left;
      border-radius: 1rem 0 0 1rem;
    }

    &__content {
      grid-column: 2 / 3;
      padding-block-start: 2rem;
    }

    &__heading {
      padding-inline: 2.5rem;
    }

    &__blurb {
      padding-inline: 2.5rem;
      margin-block-end: 1.5rem;
    }
  }
}
